
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><a href="/Home/FormularioVisitas"> Deja tus comentarios en el libro de visitas </a></p>
        <p><a href="/Home/ListaDeVisitas"> Comentarios de los visitantes </a></p>
    </div>
</body>
</html>
